# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Generated platform shells (created by tool/bootstrap_platforms.sh)
/android/
/ios/

# IDEs
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db
